/*-----------------------------------------------------
Footer styling
*/
.site-copyright {
    padding: 8px 30px;
}

footer#colophon {
    .site-info-container {
        background-image: linear-gradient(rgba(17, 17, 17, 0.2), rgba(0, 0, 0, 0));
        background-color: $dark;

        .site-info {
            @include mobiles-all {
                padding-right: 0.9375rem;
                padding-left: 0.9375rem;
            }
            @include tablets-all {
                padding-right: 0.9375rem;
                padding-left: 0.9375rem;
            }

            color: #ffffff;
            a {
                color: #ffffff;
            }

            .site-footer-widget-container {
                max-width: $max-wide-width;
                width: 100%;
                margin: 63px auto;
                a {
                    width: 100%;
                    display: block;
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 24px;
                    padding: 0;
                }

                // text widget
                .textwidget {
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 24px;
                    p {
                        font-size: 1rem;
                        font-weight: 300;
                        line-height: 24px;
                        color: #ffffff;
                    }
                    .footer-find-out-more {
                        color: #ffffff;
                    }

                    .footer-find-out-more-button {
                        background-color: $dark;
                        border-radius: 28px;
                        border: 1px solid $dark;
                        display: block;
                        width: 300px;
                        cursor: pointer;
                        color: #ffffff;
                        font-family: Arial;
                        font-size: 18px;
                        font-weight: 600;
                        padding: 16px 76px;
                        text-decoration: none;
                        text-shadow: 0px 1px 0px #2f6627;
                    }
                }
                .menu {
                    display: block;
                    float: left;
                    height: 100%;
                    width: 100%;
                    clear: both;
                    list-style: none;
                    margin: 0;
                    padding-left: 0;
                    li.menu-item {
                        display: block;
                        clear: right;
                        float: left;
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }

                    .site-info-container .widget .widget_text {
                        /* todo replace media query with proper foundation mixin */
                        @media screen and (max-width: 39.9375em) {
                            margin: $vertical-spacing 0;
                        }

                        @media only screen and (min-width: 40.063em) {
                            margin: $vertical-spacing 0;
                        }
                    }
                }
            }
            .menu-menu-container {
                .menu {
                    .menu-item {
                        width: 100%;
                    }
                }
            }
        }
    }
}
