@import "mixins";
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: $dark;
    &:visited {
        color: $dark;
    }
}

a:hover,
a:focus,
a:active {
    color: $dark;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Small menu. */
header#masthead .header-inner-container .header-inner-right .main-navigation.menu-toggle,
header#masthead .header-inner-container .header-inner-right .main-navigation.toggled ul {
    display: block; // add header#masthead... to make sure menu works
    overflow: scroll;
    max-height: 85vh;
}

@media screen and (min-width: 40em) {
    header#masthead .header-inner-container .header-inner-right .main-navigation .menu-toggle {
        display: none; // add header#masthead... to make sure menu works
    }

    header#masthead .header-inner-container .header-inner-right .main-navigation {
        > ul {
            display: flex; // add header#masthead... to make sure menu works
        }
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 $vertical-spacing;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/* futurelab code start */

/**
* Overwrite foundation a tag link style
*/
a {
    text-decoration: underline;
    color: $dark;
}

a:visited {
    color: $dark;
}

// style for larger text size
html.larger-text-size {
    header#masthead {
        .header-inner-container {
            .header-inner-right {
                .main-navigation {
                    .sub-menu {
                        a {
                            padding: 10px 8px;
                        }
                    }
                    a {
                        font-size: 0.8rem;
                        letter-spacing: 0px;
                        // make padding smaller to increase more font size
                        padding: 5px 8px;
                    }
                }
            }
        }
    }
}

/*
---------------------------------------------------
Masthead styling
-----------------------------------------------------
*/

header#masthead {
    z-index: 1000;
    background-color: $bgclight;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    box-shadow: $box-shadow-bottom;
    @include mobiles-all {
        margin-bottom: $vertical-spacing;
    }

    /* The sticky class is added to the header
  by JS when it reaches its scroll position */
    &.sticky-header {
        position: fixed;
        width: 100%;
    }

    // logo text style
    .mobile-logo-text,
    .site-branding-logo-text {
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -0.46px;
        line-height: 35px;
        text-transform: none;

        h1 {
            font-size: 26px;
            font-weight: 500;
            letter-spacing: -0.46px;
            line-height: 35px;
            text-transform: none;
        }

        a {
            font-size: 26px;
            font-weight: 500;
            letter-spacing: -0.46px;
            line-height: 35px;
            text-transform: none;
        }
    }

    // inner container
    .header-inner-container {
        // padding on tablets
        @include tablets-all {
            padding-right: 0.9375rem;
            padding-left: 0.9375rem;
        }
        // padding on mobiles phones
        @include mobiles-all {
            padding-right: 0.375rem;
            padding-left: 0.375rem;
        }
        // left part of header
        .site-branding.header-inner-left {
            margin: 1rem 0;
        }

        // additional button container for tablets
        .tablets-additional-button-container {
        }

        // right part of header and mobile header and mobile navigation
        .header-inner-right {
            // site-navigation
            .main-navigation {
                clear: both;
                display: block;
                float: left;

                // fix sub-menu too long out of height of screen
                .sub-menu {
                    max-height: 90vh;
                    overflow-y: auto;
                    overflow-x: visible;
                }
                // underscore css to scss
                ul {
                    list-style: none;
                    margin: 0;
                    padding-left: 0;
                    @include mobiles-all {
                        display: none;
                    }
                    ul {
                        background-color: white;
                        float: left;
                        position: absolute;
                        top: 102%; // change to 102% to show outline properly
                        left: -999em;
                        z-index: 99999;
                        box-shadow: $box-shadow-bottom;
                        ul {
                            left: -999em;
                            top: 0;
                        }
                        li {
                            margin: 1px; // add margin 1px to show outline properly
                            &:hover {
                                > ul {
                                    left: 100%;
                                }
                            }
                        }
                        li.focus {
                            > ul {
                                left: 100%;
                            }
                        }
                        a {
                            width: 200px;
                            color: $text-black;
                        }
                    }
                    li {
                        &:hover {
                            > ul {
                                left: auto;
                                box-shadow: $box-shadow;
                            }
                        }
                    }
                    li.focus {
                        > ul {
                            left: auto;
                            box-shadow: $box-shadow;
                        }
                    }
                }
                li {
                    float: left;
                    position: relative;
                }
                a {
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $text-black;
                    font-weight: 600;
                    font-size: 0.875rem;
                    letter-spacing: 1px;
                    line-height: 1.2;
                    padding: 10px 16px;
                    &:visited {
                        color: $text-black;
                    }
                }

                // mobile header
                .mobile-inner-container {
                }

                // desktop and tablets nav menu
                .normal-size-primary-menu-container {
                    .menu-primary-menu-container {
                        ul.menu {
                            > li.menu-item {
                                &:first-child {
                                    > a {
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                // mobile nav menu
                .mobile-primary-menu-button-container {
                    .mobile-menu-container {
                        .menu-primary-menu-container {
                            a {
                                display: block;
                                clear: both;
                            }

                            ul {
                                list-style: none;
                                clear: both;
                                text-align: center;

                                li {
                                    display: block;
                                    clear: both;
                                    text-align: center;
                                    width: 100%;
                                }
                            }

                            .mobile-menu-button {
                                &:first-child {
                                    .wp-block-button {
                                        margin-top: 0.875em;
                                    }
                                }
                                .wp-block-button {
                                    margin-top: 0em;
                                    margin-bottom: 0.875em;
                                    a:visited {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // font-size adjust
            .adjust-fontsize {
                font-size: 0.75rem;
                position: relative;
                background-color: #fff;

                cursor: pointer;
                .adjust {
                    display: block;
                    text-align: center;
                    .normal-text-size-container {
                        display: inline;
                        .normal-text-size {
                            font-size: 16px; // use px for show correct font size
                        }
                        .normal-text-size-discription {
                            position: absolute;
                            left: -30px;
                            display: none;
                            background-color: #fff;
                            border: 1px solid $text-gray;
                            padding: 5px;
                            width: 120px;
                            z-index: 99;
                        }
                        @include desktops-all {
                            &:hover {
                                .normal-text-size-discription {
                                    display: block;
                                }
                            }
                        }
                    }
                    .divider {
                        display: inline;
                    }
                    .larger-text-size-container {
                        display: inline;
                        .larger-text-size {
                            font-size: 24px; // use px for show correct font size
                        }
                        .larger-text-size-discription {
                            position: absolute;
                            left: -30px;
                            display: none;
                            background-color: #fff;
                            border: 1px solid $text-gray;
                            padding: 5px;
                            width: 120px;
                            z-index: 99;
                        }
                        @include desktops-all {
                            &:hover {
                                .larger-text-size-discription {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Add some top padding to the page content to prevent sudden quick
  movement (as the header gets a new position at the top of the page
  (position:fixed and top:0) */
.sticky-header + .site-content {
    padding-top: 102px;
}
