/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Blocks
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/* Theme variables */
@import "mixins";
/* Normalize */
@import "normalize";
/* Typography */
@import "typography";
/* Our awesomeness is loading from CDN - see funtions.php */
/* Navigation, header style */
@import "header";
/* footer style */
@import "footer";
/* Accessibility, Alignments, Clearings, Widgets, Content */
@import "content";
/* woocommerce style */
@import "woocommerce";

/*
SECONDARY MENU
 */
.secondary-menu {
    border-bottom: 1px solid black;
}

.menu-secondary-container {
    text-align: center;
    margin: 0 auto;
}

.menu-secondary-container li {
    padding: 12px;
}

/* Blocks */
@import "blocks";

// styles for mailchimp subscribe
.mc4wp-form-fields {
    .subscribe-form {
        display: flex;
        width: 20rem;
        margin-top: -10px;

        input {
            border: none;
            border-radius: 10px;
        }

        button {
            border: none;
            border-radius: 10px;
        }

        .subscribe-input {
            flex: 3;
            height: unset;
            border-radius: 32px 0 0 32px;
            margin: 0 0 0rem;
            background-color: #fff;
            box-shadow: none;
            padding: 1rem 0 1rem 1rem;
        }

        .subscribe-button {
            flex: 1;
            background-color: #fff;
            border-radius: 0 32px 32px 0;
            padding: 1rem 1rem 1rem 0;
            text-align: right;
            outline: none;

            .fa,
            .fas {
                font-family: "FontAwesome";
                font-size: 18px;
                font-weight: 100;
            }
        }

        .subscribe-button:focus {
            border: none;
        }
    }
}

.has-small-font-size {
    color: $dark;
}

.has-large-font-size {
    color: $dark;
}

.has-huge-font-size {
    color: $dark;
}

/*
todo
For when a paragraph is aligned right to go next to the subscribe MailChimp signup.
This is a hack for mobile and we will need to build our own block with our own styles.
 */
.mailchimp-label {
    text-align: right !important;

    /* todo replace media query with foundation mixin */
    @media screen and (max-width: 39.9375em) {
        text-align: center !important;
    }
}

.mc4wp-form-fields .subscribe-form {
    /* todo replace media query with foundation mixin */
    @media screen and (max-width: 39.9375em) {
        margin: $vertical-spacing auto !important;
    }
}

/*
End of MailChimp subscribe hack
 */

/*
Banner header for pages, services and teams
 */
.banner-header-image {
    position: relative;
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0px auto 4em;

    @include mobiles-all {
        height: 100%;
        display: block;
        float: left;
    }

    .banner-header-overlay {
        @include banner-inset-shadow;
        @include banner-overlay;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;

        @include mobiles-all {
            display: block;
            float: left;
            position: relative;
            height: 100%;
        }
    }

    .down-arrow-container {
        width: 50px;
        height: 50px;
        background-color: $dark;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        position: relative;
        top: 525px;
        border-radius: 50%;
    }
}

.banner-header-titles {
    position: absolute;
    top: 80px;
    max-width: 450px;
    margin-bottom: $vertical-spacing;
    overflow-wrap: break-word;

    @include mobiles-all {
        position: relative;
        display: block;
        float: left;
        height: 100%;
        top: 0;
        padding: 1rem;
    }

    h1 {
        font-size: 38px;
        font-weight: 600;
        letter-spacing: -0.68px;
        line-height: 50px;
        margin-bottom: 0.5em;
    }

    .title-meta {
        color: $dark;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 35px;
        text-transform: uppercase;
    }
}

.banner-header-title {
    height: 35px;
    color: $dark;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
}

.banner-header-menu-container {
    @include mobiles-all {
        display: block;
        float: left;
        height: 100%;
    }

    ul {
        color: $dark;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        list-style: none;
        text-transform: none;
        margin: 0;
        float: left;
        height: 100%;
        width: fit-content;
        max-width: 50%;
        min-width: 420px;
        border-bottom: 1px solid #ffffff;

        @include mobiles-all {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    li {
        border-top: 1px solid #ffffff;
        display: block;
        vertical-align: center;
        max-width: 100%;
        padding: 5px 0;

        a {
            color: $dark;
            text-transform: none;
            text-decoration: none;
        }
    }
}

/*
End banner header
 */

/*
Over write gravity form style
 */
.gform_wrapper
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
    width: 100%;
}

.gfield_label {
    font-size: 14px !important;
    color: $dark;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type="submit"],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type="submit"] {
    @include button-primary;
    color: #ffffff;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type="radio"],
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
    margin-left: 1px;
    width: 100%;
}

@media only screen and (min-width: 641px) {
    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_footer input[type="submit"],
    .gform_wrapper .gform_page_footer input.button,
    .gform_wrapper .gform_page_footer input[type="submit"] {
        font-size: 14px !important;
    }
}

/*
Post list styles
 */
.post-list {
}
.post-list-thumbnail {
    border-radius: 0;
    border: 0;
}

.post-list-thumbnail .wp-block-image img {
    border-radius: 0;
    border: 0;
}

.post-list-thumbnail .image-placeholder {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #eee;
}

.post-list-title {
    color: $text-black;
    font-size: 22px;
    font-weight: 600;

    a {
        color: $text-black;
        text-transform: none;
        text-decoration: none;
    }

    a:visited {
        color: $text-black;
    }
}

.post-list-content {
    font-size: 16px;
    line-height: 26px;
}
.post-list-read-more {
    font-size: 14px;
    font-weight: 600;
    color: $dark;

    a {
        text-transform: none;
        text-decoration: none;
    }
}

/*
Sidebar menu styling
 */
.sidebar-menu-container {
    overflow: hidden;
    ul {
        color: $dark;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        list-style: none;
        text-transform: none;
        margin: 0;
        float: left;
        height: 100%;
        width: fit-content;
        max-width: 50%;
        min-width: 270px;
        margin-bottom: $vertical-spacing;
    }

    li {
        display: block;
        vertical-align: center;
        max-width: 100%;
        padding: 5px 0;

        a {
            color: $dark;
            text-transform: none;
            text-decoration: none;
        }
    }
}

.shadow-box {
    @include shadow-around;
}

// content spacing
.entry-content {
    // make everything not alignfull same width and centered.
    > *:not(.alignfull) {
        max-width: $max-wide-width;
        margin-left: auto;
        margin-right: auto;
    }

    // make padding left and right on mobile devices
    > .alignfull,
    > .alignwide,
    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        // padding on tablets
        @include tablets-all {
            padding-right: 0.9375rem;
            padding-left: 0.9375rem;
        }
        // padding on mobiles phones
        @include mobiles-all {
            padding-right: 0.9375rem;
            padding-left: 0.9375rem;
        }
    }
}

// make a margin right custom class, to avoid style apply to every image on website
.col-margin-right {
    margin-right: 48px;
    @include mobiles-all {
        margin-right: initial;
    }
}

// remove line-height
.line-height-0 {
    line-height: 0;
}

// add margin on post and standard pages
.page-content,
.entry-content,
.entry-summary {
    margin: 4em 0 0;
}

// remove margin on home page
.home {
    .page-content,
    .entry-content,
    .entry-summary {
        margin: 0em 0 0;
    }
}

.alignwide {
    max-width: $max-wide-width;
    margin-left: auto;
    margin-right: auto;
}

.alignfull {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}
