/*--------------------------------------------------------------
>>> BLOCK SPECIFIC STYLING FOR FUTUTRELAB BASE BLOCKS
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Carousel and Swipers
# Gutenburg default button blocks
#

--------------------------------------------------------------*/
/* Theme variables */
@import "mixins";

/*
**header 
*/

// mini cart
.site-header {
  .site-header-cart {
    list-style: none;
    .cart-contents-container {
      float: right;
    }
    .header-mini-cart-container {
      list-style: none;
      display: none;
      position: absolute;
      margin-left: -200px;
      margin-top: 40px;
      background: white;
      padding: 20px;
      border: 1px solid #000000;
      z-index: 99;
    }

    &:hover {
      .header-mini-cart-container {
        display: block;
      }
    }
  }

  .cart-contents:before {
    font-family: WooCommerce;
    content: "\e01d";
    font-size: 28px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    padding-right: 5px;
    vertical-align: bottom;
  }
  .cart-contents:hover {
    text-decoration: none;
  }
  .cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
  }
}

/*
woocommerce styling
 */

.woocommerce {
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="datetime"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="range"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea {
    color: $text-black;
    border: 1px solid #ccc;
    @include box-border-radius;
    padding: 3px;
  }

  a.button {
    @include button-primary;
    @include box-shadow-below;
    @include box-border-radius;
    color: $text-gray;
    &:hover {
      color: $text-gray;
      background-color: $mid;
    }
  }

  button button.alt {
    @include button-primary;
    @include box-shadow-below;
    @include box-border-radius;
    color: $text-gray;
    height: 2.4375rem;
    padding: 11px 56px;
    &:hover {
      color: $text-gray;
      background-color: $mid;
    }
  }

  span.onsale {
    background-color: $dark;
  }

  label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.8;
    // color: $text-dark;
  }

  .tabs {
    border: 1px solid $dark;
    background-color: $dark;
    color: $text-gray;
    &::before {
      border-bottom: 0px !important;
    }
  }

  .woocommerce-tabs .tabs li {
    border: 1px solid $mid !important;
    background-color: $mid !important;
    border-radius: 0px !important;
  }
  .active {
  }

  .product {
  }
  .woocommerce-Price-amount.amount {
    color: $dark;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  width: 0px;
  height: 0px;
  border: none;
  content: "" !important;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  @include button-primary;
  @include box-shadow-below;
  @include box-border-radius;
  color: $text-gray;
  &:hover {
    color: $text-gray;
    background-color: $mid;
  }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  @include button-primary;
}

.woocommerce-info {
  border-top-color: $dark;
}

.woocommerce-info::before {
  color: $dark;
}

ins,
mark {
  background: $dark;
  text-decoration: none;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  color: $text-gray;
}
