/*--------------------------------------------------------------
>>> BLOCK SPECIFIC STYLING FOR FUTUTRELAB BASE BLOCKS
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Carousel and Swipers
# Gutenburg default button blocks
#

--------------------------------------------------------------*/
/* Theme variables */
@import "mixins";

/*
woocommerce styling
 */

.woocommerce {
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="datetime"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="range"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea {
    color: $text-black;
    border: 1px solid #ccc;
    @include box-border-radius;
    padding: 3px;
  }

  a.button {
    @include button-primary;
    @include box-shadow-below;
    @include box-border-radius;
    color: $text-gray;
    &:hover {
      color: $text-gray;
      background-color: $mid;
    }
  }

  button button.alt {
    @include button-primary;
    @include box-shadow-below;
    @include box-border-radius;
    color: $text-gray;
    height: 2.4375rem;
    padding: 11px 56px;
    &:hover {
      color: $text-gray;
      background-color: $mid;
    }
  }

  span.onsale {
    background-color: $dark;
  }

  label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.8;
    // color: $text-dark;
  }

  .tabs {
    border: 1px solid $dark;
    background-color: $dark;
    color: $text-gray;
    &::before {
      border-bottom: 0px !important;
    }
  }

  .woocommerce-tabs .tabs li {
    border: 1px solid $mid !important;
    background-color: $mid !important;
    border-radius: 0px !important;
  }
  .active {
  }

  .product {
  }
  .woocommerce-Price-amount.amount {
    color: $dark;
  }
}

// fix for button style issuse caused by woocommerce block update
.wc-block-grid__product {
  .wp-block-button__link {
    @include mobiles-all {
      padding: 16px 10px;
    }
  }
}
// wc-block-grid__product width issue caused by woocommerce block update
@include mobiles-all { // fix for woocommerce mobile style
  .wc-block-grid.has-3-columns .wc-block-grid__product {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  width: 0px;
  height: 0px;
  border: none;
  content: "" !important;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  @include button-primary;
  @include box-shadow-below;
  @include box-border-radius;
  color: $text-gray;
  &:hover {
    color: $text-gray;
    background-color: $mid;
  }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  @include button-primary;
}

.woocommerce-info {
  border-top-color: $dark;
}

.woocommerce-info::before {
  color: $dark;
}

ins,
mark {
  background: $dark;
  text-decoration: none;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  color: $text-gray;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: $mid;
  color: #fff;
}
